.bottom-section {
  background-color: var(--very-paleorange);
  border-radius: 10px;
  padding: 1rem;
  color: var(--dark-brown);

  .chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.7rem;
    height: 12rem;

    .each-column {
      flex: 1;
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      &::after {
        content: "$17.45";
        position: absolute;
        top: -1.6rem;
        left: 50%;
        transform: translateX(-50%);
        // height: 1.7rem;
        // width: 150%;
        padding: 0.3rem 0.5rem;
        border-radius: 3px;
        color: var(--very-paleorange);
        font-size: 0.8rem;

        background-color: var(--dark-brown);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        opacity: 0;
        transition: all 0.3s ease;
        pointer-events: none;
      }

      &:hover .column:not(.current .column) {
        background-color: var(--light-soft-red);
      }

      &:hover.each-column::after {
        opacity: 1;
        top: -2rem;
      }

      p {
        font-size: 0.7rem;
        color: var(--medium-brown);
        margin-top: 0.5rem;
        user-select: none;
      }

      .column {
        height: 100%;
        background-color: var(--soft-red);
        border-radius: 3px;
        position: relative;
      }
    }

    .col-mon {
      height: 100%;
    }
    .col-tue {
      height: 80%;
    }
    .col-wed {
      height: 70%;
    }
    .col-thu {
      height: 90%;
    }
    .col-fri {
      height: 70%;
    }
    .col-sat {
      height: 40%;
    }
    .col-sun {
      height: 60%;
    }

    .current.each-column::after {
      opacity: 1;
      top: -2rem;
    }

    .current .column {
      background-color: var(--cyan);
    }

    .current {
      &:hover .column {
        background-color: var(--light-cyan);
      }
    }
  }

  hr {
    margin: 1.5rem 0;
    border: none;
    border-bottom: 2px solid var(--cream);
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    line-height: 1.1;
  }

  .bottom-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h2 {
      font-size: 0.9rem;
      font-weight: 400;
      color: var(--medium-brown);
    }

    .total-amount {
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1;
      margin-top: 0.5rem;
    }

    .last-month-amount {
      font-size: 1rem;
      text-align: right;
      font-weight: 700;
      line-height: 1;
    }
  }
}
