:root.dark-mode {
  // Primary
  --blue: hsl(249, 99%, 64%);
  --violet: hsl(278, 100%, 76%); //(active input border)
  --red: hsl(0, 100%, 66%); //(input errors)

  // Neutral
  --white: hsl(261, 32%, 9%);
  --light-grayish-violet: hsl(0, 0%, 45%);
  --dark-grayish-violet: hsl(278, 6%, 66%);
  --very-dark-violet: hsl(278, 49%, 85%);

  //added
  --shadow-dark-violet: hsla(278, 32%, 46%, 0.5);
  --mod-very-dark-violet: hsl(278, 87%, 24%);
  --mod-violet: hsl(278, 56%, 36%);
  --black: rgb(243, 243, 243);
}

.dark-mode-container {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;

  display: block;
  margin-left: auto;
  margin-bottom: 1rem;

  .dark-mode-checkbox {
    display: none;
  }

  .dark-mode-lebel {
    --clr-bg: rgb(214, 214, 214);
    --clr-border: #ffffff;
    --clr-shadow: rgba(24, 27, 48, 0.8);
    --sh-height: 1.5rem;
    --border: calc(var(--sh-height) / 8);
    position: relative;
    display: block;
    width: calc(var(--sh-height) * 1.7);
    height: var(--sh-height);
    background: var(--clr-bg);
    border-radius: 99999px;
    border: var(--border) solid var(--clr-border);
    box-shadow: 0 0 10px var(--clr-shadow);
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      background: url(../images/icon-light.svg) no-repeat center / 80%;
      // background: url(../src/images/icon-light.svg) no-repeat center / 80%;

      --clr-circle: #4343ff;
      --circle: calc(var(--sh-height) - var(--border) * 2);
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translateY(-50%) rotate(0deg);

      width: var(--circle);
      height: var(--circle);
      border-radius: 99999px;
      background-color: var(--clr-circle);
      transition: left 0.2s ease-in-out, transform 0.3s ease-in-out;
    }
  }

  .dark-mode-checkbox:checked ~ .dark-mode-lebel::before {
    background-image: url(../images/icon-dark.svg);
    // background-image: url(../src/images/icon-dark.svg);

    --clr-circle: #2c2cd8;
    left: calc(100% - var(--circle));
    transform: translateY(-50%) rotate(360deg);
  }

  .dark-mode-checkbox:checked ~ .dark-mode-lebel {
    --clr-shadow: rgba(24, 27, 48, 1);
    --clr-bg: rgb(74, 76, 90);
    --clr-border: #736ba3;
  }
}
