.upper-section {
  background-color: var(--soft-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: var(--very-paleorange);

  h1 {
    font-size: 1rem;
    font-weight: 400;
  }

  .my-balence {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .logo {
    width: 80%;
  }
}
