.demo-btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  .btn-demo {
    background-color: var(--soft-red);
    border: none;
    padding: 0.3rem 0.5rem;
    color: var(--static-very-paleorange);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

    cursor: pointer;

    &:hover {
      background-color: var(--light-soft-red);
    }

    &:active {
      background-color: var(--medium-brown);
    }
  }
}

.upper-section {
  background-color: var(--soft-red);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  color: var(--static-very-paleorange);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 1rem;
    font-weight: 400;
  }

  .my-balence {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .logo {
    width: 80%;
  }
}
